body
	{
		background-color: papayawhip
	} 

h2
	{
		font-family: 'IM Fell Double Pica', serif;
		font-family: 'Kaushan Script', cursive;
	}

h1
	{
		font-family: 'Sansita Swashed', cursive;
	}